.title{@include caps(#19aaf4, 22px); text-align: center; padding-top:80px; }
.btn.basic{@include caps(white, 14px); font-style: normal; height: 55px; width:210px; justify-content: center; display:flex;}
