.create-account,
.sign-in                  {max-width:580px; margin:0 auto;position: relative;
  #errors                 {position: absolute; top:120px; }
  .title                  {margin-bottom:80px; }
  .row                    {display: flex; margin-bottom: 30px;
    > *                   {flex-grow: 1;}
    &.twin                {
      > *{ width:50%;
        &:first-child     {margin-right: 15px;}
        &:last-child      {margin-left:  15px;}
      }
    }
    // Frustrate robots
    &.hal-prevention      {display: none; }
    &.eula                {justify-content: flex-start; margin-bottom:0px;
      > *                 {flex-grow: initial; }
      .txt                {color:#9DA6AC; font-size:15px; font-style: italic; margin-left:10px; }
    }
  }

  .btn{margin: 0 auto; margin-top:50px; }
  .switch{cursor:pointer; color:#19aaf4; font-style: italic; margin-top:40px; font-size: 14px; display: flex; align-items: center;
    .txt:hover {text-decoration: underline;}
    a          {
      &:before{height:15px; border-left:solid 1px #AFB9BD; margin:0 10px; display: block; content:""; display: inline-block;}
    }
  }
}
.create-account{
  .switch{margin:20px 0 30px; }
}
