.create-account,
.sign-in                  {max-width:580px; margin:0 auto;
  .title                  {margin-bottom:80px; }
  .row                    {display: flex; margin-bottom: 30px;
    > *                   {flex-grow: 1;}
    &.twin                {
      > *{ width:50%;
        &:first-child     {margin-right: 15px;}
        &:last-child      {margin-left:  15px;}
      }
    }
    // Frustrate robots
    &.hal-prevention       {display: none; }
  }

  .btn{margin: 0 auto; margin-top:65px; }
  .switch{cursor:pointer; color:#19aaf4; font-style: italic; margin-top:40px; font-size: 14px;
    &:hover{text-decoration: underline;}
  }
}
