.create-account
  .title Create Account
  .lexi.lexi-on-white
    .row 
      label 
        | Name
        input#name
    .row.twin
      label
        | Email
        input#email
      label
        | Password
        input(type="password")#password
    .row.twin
      label 
        | Company
        input#company
      label
        | role
        select#role
          option(value="developer") Developer
          option(value="owner") Owner
          option(value="project-manager") Project Manager
          option(value="other") Other
    //- frustrate robots
    .row.hal-prevention
      label
        | Important
        input#hal-prevention
          
    .btn.basic#create-account Create Account
