.legacy
  img.shadow-icon(data-src="legacy-heart")
  .title We've updated our pricing
  p Nanobox now charges per account with no limit on apps! To proceed, add a payment method and/or select your individual or team plan.
  p If you have apps associated with your personal account that should be part of a team account, select the individual plan, <a href="https://news.nanobox.io/new-pricing-teams/#teams">setup your team</a>, then <a href="https://news.nanobox.io/new-pricing-teams/#movingexistingappsintoateam">transfer the app(s) to your team</a>. All accounts get a 20-day free trial, so if you move all your apps to a team account, you can "pause" your personal account before the end of the trial. 
  .actions
    a(href="https://nanobox.io/pricing" target="_BLANK") View New Pricing
    .btn.basic Continue
