.pay
  .back-btn
    img.shadow-icon(data-src="back-x-btn")
    .txt Back
  .title Finalize / Start your Free Trial
  .lexi.lexi-on-white
    #errors.hidden
      .error
  .payment-wrapper
  .total(class= plan.is_a_team ? "team" : "") #{plan.name} plan : $#{plan.cost}/mo 
