.pick-plan.lexi.lexi-on-white
  .back-btn
    img.shadow-icon(data-src="back-x-btn")
    .txt Back
  .title Pick A Plan
  .grid
    .col.features
      .cell.name
      .cell Launch Unlimited Apps
      .cell Team / User Permissions
      .cell.total
    .plans
      .col.individual(data-id="individual")
        label
          .cell.name
            input(type="radio" name="plans" value="individual")
            | Individual
          .cell.checked 
          .cell 
          .cell.total $10/mo
      .col.default(data-id="team")
        label
          .cell.name
            input(type="radio" name="plans" value="team" checked="checked")
            | Team
          .cell.checked 
          .cell.checked  
          .cell.total.per-user $15/mo
      //- .col
      //-   label
      //-     .cell.name
      //-       input(type="radio" name="plans" value="business")
      //-       | Business
      //-     .cell.checked 
      //-     .cell.checked  
      //-     .cell.checked
      //-     .cell.checked
      //-     .cell.total $25/mo
  .submit-section
    #errors.hidden
      .error
    form(onsubmit="/do/nothing")
      input(type="submit" value="Create Account" style="display:none")
      if !isTeam
        label.team-name
          | Name your Team
          input()#team-name
      if hasPaymentMethod
        .btn.basic#next Activate your plan
      else
        .btn.basic#next Next
    
