.sign-in
  .title Sign In
  .lexi.lexi-on-white
    .row
      label 
        | Username
        input#username
    .row
      label
        | Password
        input(type="password")#password
    //- frustrate robots
    .row.hal-prevention
      label
        | Important
        input#hal-prevention
          
    .btn.basic#login Login
  .switch#switch Create an account
